*{
    margin:0;
    padding:0;
}

body{
    background: #eee;
}

.container{
    width:960px;
    height:450px;
    margin:45px auto;
    position: relative;
}
.pic{
    width: 200px;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);

}
.container img:hover{
    box-shadow: 15px 15px 20px rgba(50,50,50,.4);
    transform: rotate(0deg) scale(1.20);
    -webkit-transform: rotate(0deg) scale(1.20);
    z-index: 2;
}
.container img{
    padding: 10px;
    background: white;
    border:1px solid #ddd;
   box-shadow:2px 2px 4px rgba(50,50,50,.4);
    -webkit-transition: all 0.5s ease-in;
    transition:all 0.5s ease-in;
    position: absolute;
    z-index:1;
}
.pic2{
    left:230px;
}
.pic3{
    left:460px;
}
.pic4{
    left:690px;
}
.pic5{
    top:220px;
    left:0px;
}
.pic6{
    top:220px;
    left:230px;
}
.pic7{
    top:220px;
    left:460px;
}
.pic8{
    top:220px;
    left:690px;
}
