/*! ************
公共的底部
************* */
.c-footer {
    width: 100%;
    position: fixed;
    height: 40px;
    left: 0;
    bottom: 0;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    background: #477FB8;

    .f-content {
        text-align: center;

        span {
            margin-right: 20px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

    }

}