@charset "UTF-8";
/*! ************************************
    文      件: common.css
    说      明:公共的标签样式;
    作      者:王勇坛;
    时      间:2018;
    修 改 人:;
    修改时间:;
    修改说明:添加删除什么样式;
************************************/
header .c-header {
  height: 80px;
  line-height: 80px;
  width: 100%;
  background: #393D49;
}
header .c-header .c-h-left {
  position: absolute;
  left: 10px;
}
header .c-header .c-h-left .title {
  color: #B8B9BD;
  font-size: 15px;
  cursor: pointer;
}
header .c-header .c-h-nav {
  width: 1000px;
  margin: 0 auto;
  height: 40px;
  padding-top: 20px;
}
header .c-header .c-h-nav .c-n-container {
  border: 1px solid #c9c9c9;
  overflow: hidden;
}
header .c-header .c-h-nav .c-n-container ul li {
  width: 20%;
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #c9c9c9;
}
header .c-header .c-h-nav .c-n-container ul li:last-child {
  border-right: 0;
}
header .c-header .c-h-nav .c-n-container ul li:hover {
  background: #999;
}
header .c-header .c-h-nav .c-n-container ul li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: #C1C2C6;
}
header .c-header .c-h-nav .c-n-container ul li a:hover {
  color: #fff;
}

footer .c-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #393D49;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
