/*! ************************************
    文      件: 2016/index-2016.css
    说      明:2016首页样式;
    作      者:王勇坛;
    时      间:2018;
    修 改 人:;
    修改时间:;
    修改说明:添加删除什么样式;
************************************/.middle-container{width:1000px;margin:0 auto;position:relative}.middle-container .list{width:calc((100% - 30px)/4);margin-left:10px;border:1px solid #999;float:left;text-align:center;font-size:15px}.middle-container .list:nth-child(4n+1){margin-left:0}.middle-container .list h4{font-size:18px;font-weight:600;color:#393D49;height:30px;line-height:30px}.middle-container .list ul li{height:30px;line-height:30px}.middle-container .list ul li:hover{background:#F2F2F2}.middle-container .list ul li a{display:inline-block;text-decoration:none;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
