<div kendoTooltip filter="span" id="agglomerations">
    <span href="#" title="Canton - 26,300,000" id="canton"></span>
    <span href="#" title="Jakarta - 25,800,000" id="jakarta"></span>
    <span href="#" title="Mexico City - 23,500,000" id="mexico"></span>
    <span href="#" title="Delhi - 23,500,000" id="delhi"></span>
    <span href="#" title="Karachi - 22,100,000" id="karachi"></span>
    <span href="#" title="New York - 21,500,000" id="newyork"></span>
    <span href="#" title="Sao Paulo - 21,300,000" id="saopaolo"></span>
    <span href="#" title="Mumbay/Bombay - 21,100,000" id="bombay"></span>
    <span href="#" title="Los Angeles - 17,100,000" id="losangeles"></span>
    <span href="#" title="Osaka - 16,800,000" id="osaka"></span>
    <span href="#" title="Moscow - 16,200,000" id="moscow"></span>
</div>