body {
  font-family: Helvetica, sans-serif;
  color: #ddd; }

nav {
  width: 100px;
  color: #fff;
  border: 1px solid #ddd; }

#content article h1 {
  color: #333; }
#content article p {
  margin-bottom: 1.4em; }
#content aside {
  background: #eee; }

article a {
  color: blue; }
  article a:hover {
    color: red; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.list {
  color: #ddd; }
