body{
	background-color: #fff;
}
img{
	border-width: 0;
}
img#arrow, img#arrowImg{
	width:147px;
	height: 82px;
}
#button1,#button2{
	width:200px;
	height:100px;
}
.centered{
	text-align: center;
}
#adBanner{
	width:400px;
	height:75px;
}