div{
    width:100px;
    height:100px;
    background-color: #4cae4c;
    position:relative;
    animation:anim 5s infinite alternate;
    -webkit-animation: anim 5s infinite alternate;
}
@keyframes anim{
    0%{
        background:red;
        left:0px; top:0px
    }
    25%{
        background: blue;
        left:200px; top: 0px
    }
    50%{
        background:#46b8da;
        left:200px;top:200px
    }
    75%{
        background:#98bf21;
        left:0px;top:200px
    }
    100%{
        background:#ec971f;
        left:0px;top:0px
    }
}
@-webkit-keyframes anin{
    0%{
        background:red;
        left:0px; top:0px
    }
    25%{
        background: blue;
        left:200px; top: 0px
    }
    50%{
        background:#46b8da;
        left:200px;top:200px
    }
    75%{
        background:#98bf21;
        left:0px;top:200px
    }
    100%{
        background:#ec971f;
        left:0px;top:0px
    }

}
