div{
    width:100px;
    height:100px;
    background-color: #d200d2;
    margin:200px auto;
    -webkit-transition:width 2s,height 2s,-webkit-transfrom 2s;
    transition:width 2s,height 2s,transfrom 2s;
}
div:hover{
    width:200px;
    height:200px;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
