@charset "UTF-8";
/*! ************************************
    文      件:
    说      明:手机首页;
    作      者:王勇坛;
    时      间:2018;
    修 改 人:;
    修改时间:;
    修改说明:添加删除什么样式;
************************************/
body {
  background: #fff;
  overflow: hidden;
}

.phone-show .head-top .top-video {
  position: relative;
}
.phone-show .head-top .top-video .controll {
  height: 46px;
  line-height: 46px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
}
.phone-show .head-top .top-video .controll .c-left, .phone-show .head-top .top-video .controll .c-right {
  font-size: 13px;
  color: #fff;
}
.phone-show .head-top .top-video .controll .c-left {
  font-size: 13px;
  float: left;
}
.phone-show .head-top .top-video .controll .c-left span {
  color: #fff;
  margin-left: 22px;
  position: relative;
  top: -5px;
}
.phone-show .head-top .top-video .controll .c-left i {
  font-size: 30px;
  color: #32EE1F;
  margin-left: 10px;
}
.phone-show .head-top .top-video .controll .c-right {
  float: right;
}
.phone-show .head-top .top-video .controll .c-right span {
  margin-right: 22px;
}
.phone-show .head-top .top-video .controll .c-right i {
  font-size: 16px;
  margin-right: 5px;
}
.phone-show .middle-content .m-top {
  height: 36px;
  line-height: 36px;
  background: #fff;
  border-bottom: 1px solid #EEEEEE;
}
.phone-show .middle-content .m-top .m-t-title {
  text-align: center;
}
.phone-show .middle-content .m-top .m-t-title span {
  font-size: 15px;
  color: #555;
  font-weight: bold;
}
.phone-show .middle-content .m-content {
  width: 100%;
}
.phone-show .middle-content .m-content .c-content {
  overflow: hidden;
}
.phone-show .middle-content .m-content .c-content .c-item {
  margin-top: 22px;
}
.phone-show .middle-content .m-content .c-content .c-item:last-child {
  margin-bottom: 22px;
}
.phone-show .middle-content .m-content .c-content .c-item .item-left {
  float: left;
  height: 29px;
  width: 29px;
  margin: 0 15px;
}
.phone-show .middle-content .m-content .c-content .c-item .item-left img {
  border-radius: 45px;
  width: 100%;
  height: 100%;
}
.phone-show .middle-content .m-content .c-content .c-item .item-right {
  width: calc(100% - 58px * 0.5 - 30px * 0.5* 2);
  float: left;
}
.phone-show .middle-content .m-content .c-content .c-item .item-right .i-r-top {
  font-size: 10px;
}
.phone-show .middle-content .m-content .c-content .c-item .item-right .i-r-top .username {
  color: #888;
}
.phone-show .middle-content .m-content .c-content .c-item .item-right .i-r-top .time {
  color: #c3c3c3;
  margin-left: 11px;
}
.phone-show .middle-content .m-content .c-content .c-item .item-right .i-r-comment {
  width: 98%;
  padding-top: 7px;
  font-size: 13px;
  word-wrap: break-word;
}
.phone-show .middle-content .m-bottom-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #fff;
}
.phone-show .middle-content .m-bottom-content .b-content-top {
  height: 89px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-top-c {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-top-c span {
  font-size: 12px;
  padding: 6px 12px;
  background: #EEEEEE;
  margin-left: 14px;
  border-radius: 45px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c {
  height: calc(100% - 80px* 0.5);
  line-height: calc(100% - 80px* 0.5);
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-input-show {
  width: calc(100% - 200px * 0.5);
  float: left;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-input-show .c-input {
  width: 80%;
  margin-left: 14px;
  border: 1px solid #C9C9C9;
  border-radius: 45px;
  margin-top: 5px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-input-show .c-input input {
  padding: 8px 0;
  border: 0;
  outline: none;
  font-size: 15px;
  padding-left: 18px;
  width: calc(100% - 60px);
  border-radius: 45px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-input-show .c-input input ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #B0B0B0;
  padding-left: 10px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-input-show .c-input input :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #B0B0B0;
  padding-left: 10px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-input-show .c-input input ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #B0B0B0;
  padding-left: 10px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-input-show .c-input input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #B0B0B0;
  padding-left: 10px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-right {
  float: left;
  width: 100px;
  height: 48px;
  line-height: 48px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-right .r-send {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  border-radius: 45px;
  color: #fff;
  font-size: 11px;
  background: #FF7F02;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-right .r-num .icon-dianzan {
  color: #B0B0B0;
  font-size: 18px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-right .r-num .num {
  color: #B0B0B0;
  font-size: 13px;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-right .r-num-active .icon-dianzan {
  color: #FF7F02;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .c-right .r-num-active .num {
  color: #FF7F02;
}
.phone-show .middle-content .m-bottom-content .b-content-top .b-bottom-c .icon-biaoqing {
  color: #B0B0B0;
  position: relative;
  font-size: 16px;
  left: 18px;
  top: 2px;
}
.phone-show .middle-content .m-bottom-content .b-content-middle {
  height: 207px;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-top {
  height: 175px;
  background: #F8F8F8;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom {
  height: 32px;
  line-height: 32px;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom span {
  width: 40px;
  display: inline-block;
  text-align: center;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom span i {
  font-size: 21px;
  position: relative;
  color: #84BDFE;
  top: 0px;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom .s-line {
  width: 1px;
  border-right: 1px solid #D2D2D2;
  height: 60%;
  position: relative;
  top: 2px;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom .zj-emoji {
  margin-left: 20px;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom .zj-bg {
  background: #F8F8F8;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom .b-emoji-bg {
  background: #F8F8F8;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom .b-emoji {
  position: relative;
  top: -3px;
}
.phone-show .middle-content .m-bottom-content .b-content-middle .b-m-bottom .b-emoji img {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 800px) {
  .phone-show {
    width: 40%;
    margin: 0 auto;
  }
}
