
/*中间字体*/
$MfontFimaly:SimHei;
$Mfont1:22px;
$Mfont2:28px;
.n-content{
	margin:0;
	width: 1440px;
	height: 900px;
	.logo{
		padding-top: 8px;
		padding-left: 24px;
		img{
			display: block;
			position:absolute;
		}

	}
	input{
		width:200px;height:30px;border:0;border-radius:25px;padding-left:20px;margin-top:20px;margin-left:220px;
	}
	
	.p1{
		padding-left:150px;height:78px;line-height:70px;
		font-family: $MfontFimaly;
		font-size:$Mfont1; 
		color: #fff;
		
	}
	.p2{
		width:12px;height:2px;margin-left:8px;margin-top:36px;background:#fff;
	}
	.p3{
		padding-left:4px;line-height:70px;
		font-family: $MfontFimaly;
		font-size:$Mfont2;
		color: #fff;
	}
}
.p1,.p2,.p3{
	float: left;
	display: block;
}
/*右上角字体*/

$fontFimaly:"Microsoft YaHei","微软雅黑";
$RfontSize: 14px;
.n-name{
	float:right;
	line-height:70px;	
	margin-right: 20px;
}
.n-name{
	span{
		margin-left: 30px;/*调整span之间距离*/
	}
	span a{
		padding-left: 8px;/*调整a标签和图片之间距离*/
		color: #fff;
		font-family: "Microsoft YaHei","微软雅黑";
		font-size: 14px;
	} 
}

/*左边的列表*/
.list-bg{
	width:240px;height:822px;background:#212223;margin-top: -10px;float:left;	
}
.list-content{
	padding-top: 50px;

}

.list-one,.list-two,.list-three,.list-four{
	margin-top: 2px;
	width:240px;
	height:42px;
	img{
		float: left;
	}
	p{
		line-height: 42px;
		float: left;
		margin-top: -14px;
		margin-left: 12px;
	}
	.left{
		padding-top: 14px;
		padding-left: 20px;
	}
	.right{
		padding-top: 2px;
		padding-left: 200px;
	}
}
.list-content{
	.list-second{
		padding-top:10px;
		.list-u{
			padding-left: 36px;
			height:36px;line-height:36px;font-size:14px;background:#404040;
			li{
				list-style:none;padding-left:16px;
				a{
					color:#fff;
				}
				img{
					margin-left:90px;
				}
			}
		}

		.demo{
			display: none;
		}
	}
}

.list-content{
	.list-third{
		width: 238px;
		height: 248px;
		overflow: auto;
		list-style:none;font-size:14px;
	}
	.list-third li{
		padding-left: 20px;
		padding-top: 8px;
	}
	.list-third li a{
		font-family:"Microsoft YaHei","微软雅黑";
		color: #999;
	}
	.list-third li a:hover{
		color: #186bf0;
		text-decoration:none;
	}
}

/*画布*/

.n-bg-2 .left ul{
	margin-left: 35px;
	margin-top: 60px;

}

.n-bg-2 .left ul li{
	padding-top: 40px;
}
.n-bg-2 .left ul li p{
	width: 60px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding-top: 12px;
}
.n-bg-2 .left{
	width:132px;height:900px;float:left;
}

.show-right{
	position: absolute;
}
.show-right-down{
	position: relative;margin-top:600px;width:100px;height:100px;
}
.left .show-right{
	
	/*display: none;*/
	float: left;
	i{
		width: 0;
		height: 0;
		float: left;
		position: absolute;
		margin-top: 76px;
		/*margin-left: 8px;*/
		border-top: 10px solid transparent;
		border-right: 20px solid #393939;
		/*border-right: 20px solid red;*/
		border-bottom: 10px solid transparent;
	}
	p{
		margin-left: 20px;
		width: 460px;
		height: auto;
		padding: 12px 16px;
		border:8px solid #393939;
		border-radius: 6px;
		-webkit-border-radius:6px;
		font-family: "微软雅黑",Microsoft YaHei;
		font-size: 14px;
		line-height: 26px;
		color: #333;
		background: #fafafa;
	}
}

.middle{
	display:block;position:absolute;margin-left:220px;margin-top:76px;
}

#show-right-up,#show-right-down{
	display: none;
}		






/*最右面*/
.right{
	padding-top:60px;padding-left:860px;
}
.right{
	
	.right-top{
		width:200px;height:42px;font-size:14px;color:#fff;line-height:42px;text-align:center;
	}
	.right-down{
		width:200px;height:644px;overflow:auto;background:#f3f3f3;

	}
	.radio-three {
		margin-left: -20px;
		margin-top: 10px;
	}
	.radio-three span a{
		color: #666;
		font-size: 12px;
	}
	.radio-three span a:hover{
		color: #4575da;
		text-decoration:none;
	}
	.radio-three-line{
		padding-top: 20px;
		border-bottom: 1px solid #727272;
	}
}
.right-down{
	.radio{
		label{
			margin-left:12px;margin-top:20px;
		}
		input{
			width:16px;height:16px;
		}
		.radio-p1{
			padding-left:14px;font-size:14px;
		}
		.radio-p2{
			padding-left:10px;
		}
		.radio-two{
			padding-top:10px;
		}
		.radio-p3{
			margin-top:20px;padding-left:14px;
		}
		.radio-p4{
			padding-left:10px;
		}
	}
}
