.container .row{ margin:0;}
/*鐢熸垚椤甸潰*/
#body .container, #divbody .container { width:auto; margin:0px;height:100%; padding:0;}

/*妯℃澘搴曢儴鎻掍欢鏍峰紡*/
.footer_ft{ padding-bottom:20px!important;}
.footer_ft p{ text-align:center; margin:0; padding:0;}
.footer_ft p a img{ max-height:40px; overflow:hidden; margin-bottom:10px;}

/*banner鏄剧ず鍙婅璁′腑蹇冨彸杈瑰唴瀹规鏋�*/
.slide{ display:block; top:0;left:0; margin-left:0px; overflow:hidden;} 
.carousel{ margin:0 0 10px; height:auto!important;}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {width: 100%;}

/*澧炲姞涓€涓ā鍧楀搴�*/
.content { width:100%}
.content-box { margin:0 auto; max-width:1030px;}

/*col閲嶆柊瀹氫箟20141105--榛勭惉--涓嶈兘闅忔剰鏀�*/
.row [class*="col-md-"] {display: block;float: left; width: 100%;margin-left: 1.4%;*margin-left:1.8%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; padding:0; }
.row .col-md-12 { width: 100%; }
.row .col-md-11 { width: 91.05%; }
.row .col-md-10 { width: 83.1%; }
.row .col-md-9 { width: 74.65%; }
.row .col-md-8 { width: 66.2%; }
.row .col-md-7 { width: 57.75%; }
.row .col-md-6 { width: 49.3%; }
.row .col-md-5 { width: 40.85%; }
.row .col-md-4 { width: 32.4%;}
.row .col-md-3 { width: 23.95%; }
.row .col-md-2 { width: 15.5%; }
.row .col-md-1 { width: 7.05%; }
.row [class*="col-md-"]:first-child {margin-left:0;}

@media (max-width: 1030px) {
.row .col-md-12 { margin:0; padding:0;}
}

@media screen and (max-width: 600px) {
 .row .col-md-4, .row .col-md-5, .row .col-md-6 , .row .col-md-7, .row .col-md-8, .row .col-md-9, .row .col-md-10, .row .col-md-11{ width: 100%; margin-left:0; padding:0 15px;}

}