*{
    margin:0;
    padding: 0;
}
#container{
    position: relative;
}
.box{
    padding:5px;
    float:left;
}
.box_img{
    padding:5px;
    border:1px solid #cccccc;
    /*box-shadow: h-shadow v-shadow 
                blur spread color inset;
      h-shadow:水平阴影的位置 
      v-shadow:垂直阴影的距离 
      blur:模糊距离*/
    box-shadow:0 0 5px #ccc;
    border-radius:5px;
}
.box_img img{
    width:200px;
    height:auto;
}
