body{
    margin: 0px;
    background-color: #d200d2;
}
.container{
    margin:100px;

}
.pd{
   padding:50px;
    background-color: #adadad;
}
.bd{
   border-style: dotted;
}
.content{
   background-color:#337ab7;
    padding:10px;
    text-align: center;
}
