extends layout


block content
 header#header
  div(class='header') 
   div(class='title') 平凡的世界
   div(class='left')
    div(class='user-btn')
     a(href='/about') 登录    
 div(class='middle-content red')
