<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<title><%= title %></title>

    <% include ./includes/head %>
</head>
<body>

<header>
    <% include ./includes/header %>
</header>

<main>
	<div class="middle-content">
	<% for(var i=0;i<data.length;i++) {%>
	      	<p> 
      			<%= data[i].name %>
	      	</p>
	      <% }  %>
	</div>
</main>

<footer>
    <% include ./includes/footer %>
</footer>

</body>
</html>