<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<title><%= title %></title>

    <% include ./includes/head %>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>


<main>
	<div class="login-container">
	<div class="title">
		<%= title %>
	</div>
	<form action="" class="layui-form">
		<div class="layui-form">
			<div class="layui-form-item">
				<label class='layui-form-label' for="">账号</label>
				<div class="layui-input-block">
					<input type="text" name="title" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form">
			<div class="layui-form-item">
				<label class='layui-form-label' for="">密码</label>
				<div class="layui-input-block">
					<input type="text" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item" style="maring-top:30px;">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
				<a class="layui-btn layui-btn-normal" href="./registered">注册</a>
			</div>
		</div>
		</form>
	</div>
</main>


</body>
</html>