ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    padding-top: 6px;
    padding-bottom: 6px;
     text-align:center;
    /* 导航居中 */
}
li{
    display:inline;
}
a:link,a:visited
{
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding:6px;
    text-decoration:none;
    text-transform:uppercase;
}
a:hover,a:active
{
    background-color:#7A991A;
}
