<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="global.css">-->
    <link rel="stylesheet" href="foundation.css">
    <link rel="stylesheet" href="bootstrap.css">
    <!--<link rel="stylesheet" href="admin.css">-->
    <!--<link rel="stylesheet" href="admin.min.cfss">-->
    <!--<link rel="stylesheet" href="blobal.css">-->
    <style type="text/css">
        .name{
            font-size:13px;
        }
    </style>
</head>
<body ng-app="app" ng-controller="AddressCtrl">
<div style="padding:5px;font-weight: bold;font-size: 30px;">地址管理</div>
<ul >
    <li ng-repeat="a in list"
        ng-class="('selected':$first)">
        <!--ng-if="$first"-->

        <h4>{{a.address}}</h4>
    </li>
</ul>
</body>
<script src="angular.min.js"></script>
<script src="app-4.js"></script>
</html>