<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title>直播</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="plug-in/layui-2.1.4/css/layui.css">
    <link rel="stylesheet" href="./plug-in/mui/css/mui.min.css">

    <link rel="stylesheet" href="plug-in/iconfont/iconfont.css">
    <!--the css for jquery.mCustomScrollbar-->
    <link rel="stylesheet" href="plug-in/jQuery-emoji/lib/css/jquery.mCustomScrollbar.min.css">
    <!--the css for this plugin-->
    <link rel="stylesheet" href="plug-in/jQuery-emoji/dist/css/jquery.emoji.css">

    <!-- 页面样式 -->
    <link rel="stylesheet" href="css/phone-live.css">
</head>
<style>
.emoji_container {
    left: 0;
}

.emoji_icon {
    /* display: none; */
}
.emoji_content ul li a img{
    max-width:18px;
    max-height:18px;
}
.i-r-comment img{
    width:18px;
    height:18px;
}
.mui-scroll{
    z-index: -1;
}
.mui-content{
    background: none;
}
.mui-scroll-wrapper{
    top:240px;
    z-index: 0;
}
/* .phone-show .middle-content .m-content .c-content{
 height:334px;
} */

</style>
<body>
    <div class="phone-show" id="phoneShow">
        <div class="head-top">
            
            <div class="top-video">
                <div id="id_test_video" style="width:100%; height:202px;"></div>
            </div>
        </div>
        <div class="middle-content">
            <div class="m-top">
                <div class="m-t-title">
                    <span>评论</span>
                </div>
            </div>
            <div class="m-content">
                <div class=" c-content mui-content mui-scroll-wrapper" id="pullrefresh">
                    <div class="mui-scroll" >
                         <div class="c-item"  v-for="(el,index) in data" >
                        <div class="item-left">
                            <img src="img/avator.jpg" alt="">
                        </div>
                        <div class="item-right">
                            <div class="i-r-top">
                                <span class="username">{{el.name}}</span>
                                <span class="time">{{el.time}}</span>
                            </div>
                            <!-- 弹幕转化 -->
                            <div class="i-r-comment" v-html="el.content" :id="'comment_'+index">
                                <!-- {{el.content}} -->
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    </div>
                   
                     <div id="sourceText" style="display:none;"></div>
                </div>
            </div>
            <!-- 底部发表评论 -->
            <div class="m-bottom-content" style="display:;">
                <div class="b-content-top">
                    <!-- 常用评论 -->
                    <div class="b-top-c">
                        <span v-for="(el,index) in useData" @click="useClick(el)">{{el}}</span>
                    </div>
                    <div class="b-bottom-c">
                        <!-- 评论输入框 -->
                        <div class="c-input-show" id="input">
                            <div class="c-input">
                                <input id="editor" @focus="iFoucus"  type="text" placeholder="一起聊聊...">
                                <!-- 表情按钮 -->
                                <i id="btnLoad1" @click="iFoucus" class="iconfont icon-biaoqing"></i>
                            </div>
                        </div>
                        <div class="c-right">
                            <span id="btnParse" class="r-send" @click="sendClick()" v-if="numIsShow">发送</span>
                            <span class="r-num " :class="dzShow? 'r-num-active' : ''" v-if="!numIsShow" @click="dzClick">
                                <i class="iconfont icon-dianzan"></i>
                                <span class="num">{{dzNumber}}</span>
                            </span>
                            
                        </div>
                    </div>
                </div>
                <div class="b-content-middle" v-show="eIsShow">
                    <div class="b-m-top">
                        
                    </div>
                    
                </div>
            </div>
            <!-- 手机直播 -->
            <!--  <div class="footer" style="height:30px;line-height:30px;color:#000;text-align:center;width:100%;font-size:13px;background:#EDF1F4;">
                <span>系统技术支持：济南中飞科技有限公司 </span>
            </div> -->
        </div>
    </div>
</body>
<script src="plug-in/jquery-1.11.2.min.js"></script>
<script src="plug-in/layui-2.1.4/layui.js"></script>
<script src="plug-in/vue@2.5.6/vue.min.js"></script>
<script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.2.js"></script>
<script src="plug-in/jQuery-emoji/lib/script/jquery.mousewheel-3.0.6.min.js"></script>
<script src="plug-in/jQuery-emoji/lib/script/jquery.mCustomScrollbar.min.js"></script>
<script src="plug-in/jQuery-emoji/dist/js/jquery.emoji.js"></script>
<script src="./plug-in/mui/js/mui.min.js"></script>
<!-- 页面js -->
<script src="js/phone-live.js">
</script>
<!-- 表情处理 -->
<script src="js/phone-live-emoji.js"></script>

<script>

</script>

</html>