*{
    margin:0;
    padding: 0;
}
body{
    font-family:"open sans",sans-serif;
    font-size:14px;
    line-height: 1.4em;
    min-width:600px;
}

.MenuWarp{
    position: relative;
    float: left;
    width:160px;
    background-color: #222;
}
.Menu{
    clear: left;
    margin:12px 0;
    list-style: none;
    width:160px;
    background: #222;
}
.menu{
    min-width:34px;
    cursor: pointer;
}
.menu a{
    padding:10px 0;
    display: block;
    color:#ffffff;
    text-decoration: none;
    text-indent:40px;
}
a:hover{
    background: #000000;
    color: dimgray;
}
