body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100px;
    background-color: black;
    margin: 0;


}
.container .navbar-header{
    width:75% ;
    height: 100px;
    background-color: #1b6d85;
    margin:0 auto;

}
 .navbar_1 a{
    color: green;
    margin: 5px auto;
    padding: 10px;

}
.container .navbar-header .navbar-brand1 {
    font-size: 50px;

}
.navbar-brand2{


}
.navbar-brand{
    color: #FFFACD;
}

