ul,li{
    list-style: none;
}
ul{
    padding: 0;
    margin:0;
}
.main,.hmain{
    background-image: url(H-1.jpg);
    background-repeat: no-repeat;
    width:100px;
}
li{
    background-color: #eeeeee;
}
a{
    text-decoration: none;
    padding-left: 30px;
    display: block;
    width:80px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.main a,.hmain a{
    color:white;
    background-image: url(./image/list-add.png);
    background-repeat:no-repeat ;
    background-position: 3px center;
}
.main li a,.hmain li a{
    color:black;
    background-image:none ;
}
.main ul,.hmain ul{
    display: none;
}
.hmain{
    float: left;
    margin-right: 2px;
}
