<!--The content below is only a placeholder and can be replaced.-->
<!-- S 头部 -->
<app-c-header></app-c-header>
<!-- E 头部 -->
<div class="app-header">
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/open-close">open-close(动画)</a>
    <a routerLink='/hero-form'>hero-form(表单)</a>
    <a routerLink='/hero-template'>hero-template(模板)</a>
    <a routerLink='/name-editor'>name-editor(响应式表单)</a>
    <a routerLink='/zorro'>Zorro(样式组件)</a>
    <a routerLink='/rxjx-demo'>Rxjs(订阅者模式)</a>
    <a routerLink='/config'>Config(HttpClent)</a>
    <a routerLink='/parameter-setting'>系统配置(parametersetting)</a>
    <a routerLink='/material-demo'>UI框架(meterial)</a>
    <a routerLink='/address-form-demo'>UI-address-form</a>
    <a routerLink='/dashboard-demo'>UI-dashboard</a>
    <a routerLink='/drag-drop-demo'>drag-drop</a>
    <a routerLink='/nav-demo'>nav</a>
    <a routerLink='/table-demo'>table</a>
    <a routerLink='/tree-demo'>tree-demo</a>
    <a routerLink='/three-demo'>three-demo</a>



  </nav>
  <div class="clear"></div>
</div>
<div class="middle-content">
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
<!-- <app-customer-dashboard></app-customer-dashboard> -->
</div>


<app-c-footer></app-c-footer>
