<!--The content below is only a placeholder and can be replaced.-->
<!-- S 头部 -->
<app-c-header></app-c-header>
<!-- E 头部 -->
<div class="app-header" style="">
  <nav>
    <a routerLink="/dashboard">Dashboard</a>&nbsp;&nbsp;
    <a routerLink="/heroes">Heroes</a>&nbsp;&nbsp;
    <a routerLink="/open-close">open-close(动画)</a>&nbsp;&nbsp;
    <a routerLink='/hero-form'>hero-form(表单)</a>&nbsp;&nbsp;
    <a routerLink='/hero-template'>hero-template(模板)</a>&nbsp;&nbsp;
    <a routerLink='/name-editor'>name-editor(响应式表单)</a>&nbsp;&nbsp;
    <a routerLink='/zorro'>Zorro(样式组件)</a>&nbsp;&nbsp;
    <a routerLink='/rxjx-demo'>Rxjs(订阅者模式)</a>&nbsp;&nbsp;
    <a routerLink='/config'>Config(HttpClent)</a>&nbsp;&nbsp;
    <a routerLink='/parameter-setting'>系统配置(parametersetting)</a>&nbsp;&nbsp;
  </nav>
  <div class="clear"></div>
</div>
<div class="middle-content">
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
<app-customer-dashboard></app-customer-dashboard>
</div>


<app-c-footer></app-c-footer>
