body,p{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,"Microsoft Himalaya","Microsoft YaHei UI";

}
body{
    background-color: #f1f1f1;
}
a{
    text-decoration:none;
}
.reply-img-name-des{
    height:150px;
    background-color: #dceaf5;
    line-height: 150px;

}

/*.reply-img-name-des .reply-img{*/
    /*!*width: 50%;*!*/
 /*float: left;*/
/*}*/
.reply-img-name-des .reply-name {
    width: 50%;
    float: left;
}
.reply-img-name-des .reply-name p{
    float: left;
}
.reply-img-name-des .reply-time a{
    float: left;
}
.b{
    width:210px;
    height:40px;
    background: #b8b8b8;
    text-align: center;
    line-height:40px;
    color:#fff;
    font-weight: 700;
    display: inline-table;
    margin-top:10px ;
    border-radius:5px;
}
