/*! ************************************
    文      件:
    说      明:大屏显示;
    作      者:王勇坛;
    时      间:2018;
    修 改 人:;
    修改时间:;
    修改说明:添加删除什么样式;
************************************/
@import './includes/common-var.scss';



.big-container {
	.page-bg {
		width:inherit;
		height:inherit;
		.title-top {
			height: 276px * $page-ratio;
			line-height: 276px * $page-ratio;
			background: url("../img/dp-bg.png") no-repeat;
			background-size:100% 100%;

			.title-bg {
				width: 1308px * $page-ratio;
				height: 174px * $page-ratio;
				margin: 0 auto;

				img {
					width: 100%;
					height: 100%;
				}

			}

		}

		.middle-content {
			background: #00295A;
			height: calc(100% - 276px * #{$page-ratio});

			.m-left, .m-line, .m-right {
				float: left;
			}

			//731px
			.m-left {
				width: 38%;

				.l-title {
					height: 276px* $page-ratio;
					line-height: 276px* $page-ratio;
					font-size: 48px;
					color: #fff;
					text-align: center;
				}

				.l-b-bg {
					width: 435px* $page-ratio;
					height: 352px* $page-ratio;
					margin: 0 auto;
					background: url("../img/dp-cj.png") no-repeat;
					background-size: 100% 100%;
					text-align: center;

					.score {
						font-size: 36px* $page-ratio;
						color: #00DEFF;
						padding-top: 58px* $page-ratio;
					}

					.score-num {
						margin-top: 38px* $page-ratio;
						font-size: 72px* $page-ratio;
						color: #FFAE00;
					}

				}

			}

			.m-line {
				width: 9px* $page-ratio;
				height:601 * $page-ratio;
				img{
					width:100%;
					height:100%;
				}
			}

			//1180px
			.m-right {
				width: calc(100% - 38% - 9px* #{$page-ratio});
				.table-item {
					width:90%;
					height:100px* $page-ratio;
					line-height:100px* $page-ratio;
					margin:0 auto;
					font-size:48px* $page-ratio;;
					color:#fff;
					background:#0976D3;
					border-radius:10px;
					margin-top:26px* $page-ratio;;
					&:first-child{
						margin-top:0;
					}
					.t-left {
						float:left;
						margin-left:85px* $page-ratio;;
					}

					.t-right {
						float:right;
						margin-right:85px* $page-ratio;;
					}

				}

			}
 	
		}

	}

}
