<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular.js-demo</title>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/layui-2.1.4/css/layui.css">
    <link rel="stylesheet" href="../../common/bootstrap-3.3.6/dist/css/bootstrap.css">
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>名字 :
            <input type="text" ng-model="name">
        </p>
        <h4>Hello {{name}}</h4>
        <div ng-repeat="(index,el) in data">{{index}}.{{el.name}}</div>
        <button class="layui-btn" ng-click="onClickMe()">Click me!</button>
    </div>
</body>
<script src="../../common/JQuery-3.0.0/jquery-3.0.0.js"></script>
<script src="../../common/angulay-1.7.5/angular.js"></script>
<script src="../../common/layui-2.1.4/layui.all.js"></script>
<script>
layui.use('layer', function() {
    var layer = layui.layer;
});
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.name = "this is name";
    $scope.data = [{
        name: "vue"
    }, {
        name: "avalon"
    }, {
        name: "angular"
    }];
    $scope.onClickMe = function() {
        layer.msg('这是点击提示');
    }
})
</script>

</html>