.fd{
    width:100px;
    height:100px;
    background-color:red;
    float:left;
}
.sd{
    width:200px;
    height:100px;
    background-color:blue;
    float:left;
}
.td{
    width:100px;
    height:100px;
    background-color:green;
    float:left;
}
#container{
    width:400px;
    height:500px;
    background-color: #adadad;
}
