*{
    margin:0;
    padding:0;
}
body{
    background: #dddddd;
    font-size: 14px;
    font-family: arial,sans-serif;
}
a{
    text-decoration: none;
    color: #4d4d4d;
}
#header{
    height:31px;
    min-width: 990px;
    padding:15px 0 0 10px;
    position: relative;
}
#hd_nav{
    float: left;
}

ul{
    list-style: none;
}
#hd_nav .line{
    border-right: 1px solid #858585;
}
#hd_nav li{
    float: left;
    height:14px;
    padding:0 10px;
}
#hd_nav .nav-left a{
    margin-right:10px ;
}
.right{
    float: right;
    padding-right: 20px;
}
.right li{
    float: left;
    height: 14px;
    padding:0 10px ;
}
.right .right-line a{
    padding: 0 10px;
}

.right .right-line a{

    /*padding-left: 10px;*/
    border-right: 1px solid #858585;


}

.right a:hover{
    text-decoration: underline;
}
.right .a2{
    padding-left: 10px;
}

