/*! ************************************
    文      件:.css
    说      明:样式说明;
    作      者:王勇坛;
    时      间:2018;
    修 改 人:;
    修改时间:;
    修改说明:添加删除什么样式;
************************************/


ul,ol,li{
	list-style:none;
}

a{
	text-decoration:none;
}


.header{
	height: 80px;
	line-height:80px;
	 color: #fff;
    font-size: 16px;
    background: #477FB8;
    .title{
    	position:absolute;
    	margin-left:10px;
    	a{
    		font-size:24px;
    	font-weight:bold;
    	color:#fff;
    	}
    }
    .nav{
    	width:1000px;
    	margin:0 auto;
    	ul{
    		li{
    			float:left;
    			a{
					font-size:16px;
					color:#fff;
					&:hover{
						color:#ddd;
					}
    			}
    			&:nth-child(2){
    				margin-left:14px;
    			}
    		}
    	}
    }
	.left{
		position:absolute;
		right:0;
		margin-right:80px;
		.user-btn{
			a{
				text-decoration:none;
				color:#fff;
			}
		}
	}
	.login-show{
		display:none;
	}
}

.middle-content{
	width:1000px;
	margin:0 auto;
	// height:800px;
}


.footer{
	width:100%;
	position: fixed;
	height: 40px;
    left: 0;
    bottom: 0;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    background: #477FB8;
    text-align: center;
}